<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Exemplos 2</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		
		<style>
			table, th, td {
				border: 1px solid black;
				border-collapse: collapse;
			}
		</style>
	</head>
	
	<body>
		<div id="app">
			<gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>
			<input type="text" v-model="meuTitulo">


			<gui-tabela v-bind:titulos="['Nome', 'Sobrenome', 'Cidade', 'Email']" v-bind:registros="registros"></gui-tabela>

			<p v-once>{{meuTitulo}}</p>

			<p v-html="html"></p>
			<p>{{23.5554785457 | TrataValor}}</p>

			<ul>
				<li v-for="result in registros2">
					{{result.titulo}} - {{result.descricao}} - {{result.link}} - {{result.valor | TrataValor}}
				</li>
			</ul>

			<p>Total (methods): {{totalValorMethod() | TrataValor}}</p>
			<p>Total (computed): {{totalValorComputed | TrataValor}}</p>

			<p>contaMethods = {{contaMethods}}</p>
			<p>contaComputed = {{contaComputed}}</p>
			<p>
				<input type="text" v-model="nome">
			</p>
			<p>Alterações: {{contaAlteracoes}}</p>
		</div>
		
		<script>
			Vue.component('gui-titulo',{
				props: ['titulo'],
				template: '<h2>{{titulo}}</h2>'
			})

			Vue.component('gui-tabela', {
				props: ['titulos', 'registros'],
				template: 
					'<table style="width:100%">\
						<thead>\
							<tr>\
								<th v-for="titulo in titulos">{{titulo}}</th>\
							</tr>\
						</thead>\
						<tbody>\
							<tr v-for="result in registros">\
								<td v-for="resultItem in result">{{resultItem}}</td>\
							</tr>\
						</tbody>\
					</table>',
				})
			
			var app = new Vue({
				el: "#app",
				data: {
					meuTitulo: 'Teste title',
					registros: [
						{
							nome: 'Carlos André', 
							sobrenome: 'Rodrigues Couto',
							cidade: 'Virgolândia',
							email: 'carlosandrecouto@live.com'
						},
						{
							nome: 'Juarez',
							sobrenome: 'Samanbaia',
							cidade: 'Nova Yorqueee',
							email: 'juarez@bol.com'
						}
					],
					registros2 : [
						{
							titulo: 'Titulo1',
							descricao: 'Descricao1',
							link: '<a href="#">Link1</a>',
							valor: 250.6000854
						},
						{
							titulo: 'Titulo2',
							descricao: 'Descricao2',
							link: '<a href="#">Link2</a>',
							valor: 355.850
						},
						{
							titulo: 'Titulo2',
							descricao: 'Descricao3',
							link: '<a href="#">Link3</a>',
							valor: 755.850
						},
					],
					html: '<a href="#">Esse é um link</a>',
					contaMethods: 0,
					contaComputed: 0,
					nome: '',
					contaAlteracoes: 0
				},
				filters: {
					TrataValor: function(valor) {
						return 'R$ '+(valor).toFixed(2).replace('.', ',')
					}
				},
				methods: {
					totalValorMethod : function() {
						//this.contaMethods++
						let total = 0;
						
						for(item of this.registros2) {
							total += item.valor
						}
						return total
					}
				},
				computed: {
					totalValorComputed : function() {
						let total = 0;
						this.contaComputed++

						for(item of this.registros2) {
						total += item.valor
						}
						return total
					}
				},
				watch:{
					nome: function(valor) {
						this.contaAlteracoes++
						this.nome = valor.toUpperCase()
					}
				}
			})
		</script>
	</body>
</html>